#ClockCanvasHolder{
    border: solid 1px black;
    border-radius: 5px;
    background: black;
    width: 	100%;
    height: 600px;
    text-align: center;
    margin: auto;
}

#textimg{
    width: 	20px;
    height: 20px;
}

#textimg2{
    visibility: hidden;
}

#TextKlocka{
	color: yellow;
}

#ClockCanvas{
    width: 	90%;
    height: 90%;
    background: yellow;
    border-radius: 10px;
    border: solid 5px black;
}

#shityshit{
    width: 105%;
    height: 500px;
    text-align: center;
    background: gray;
    margin: -10px;
}

#footer{
    width: 100%;
    height: 100px;
    background: wheat;
    text-align: center;
    margin: -7;
}